In [2]:
import pandas as ps

data = ps.read_csv('messy_data.csv', delimiter=', ')

data['clarity'] = data['clarity'].str.upper()
data['color'] = data['color'].str.upper()
data['cut'] = data['cut'].str.upper()
data.isna().any()

C:\Users\mdoma\AppData\Local\Temp\ipykernel_15688\3471231474.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = ps.read_csv('messy_data.csv', delimiter=', ')

carat           True
clarity        False
color          False
cut            False
x dimension     True
y dimension     True
z dimension     True
depth           True
table           True
price           True
dtype: bool

In [3]:
Q1 = data['price'].quantile(0.25)
Q3 = data['price'].quantile(0.75)
IQR = Q3 - Q1
condition = (Q1 - 1.5 * IQR < data.price) & (data.price < Q3 + 1.5 * IQR)
data = data[condition].sort_values('price', ascending=False)
data.isna().any()

carat           True
clarity        False
color          False
cut            False
x dimension     True
y dimension     True
z dimension     True
depth           True
table           True
price          False
dtype: bool

In [4]:
data['carat'] = data['carat'].interpolate()
data['x dimension'] = data['x dimension'].interpolate()
data['y dimension'] = data['y dimension'].interpolate()
data['z dimension'] = data['z dimension'].interpolate()
data['depth'] = data['depth'].interpolate()
data['table'] = data['table'].interpolate()

data.isna().any()

C:\Users\mdoma\AppData\Local\Temp\ipykernel_15688\4051251308.py:6: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  data['table'] = data['table'].interpolate()

carat          False
clarity        False
color          False
cut            False
x dimension    False
y dimension     True
z dimension    False
depth          False
table           True
price          False
dtype: bool

In [5]:
data = data.dropna()
data.isna().any()

carat          False
clarity        False
color          False
cut            False
x dimension    False
y dimension    False
z dimension    False
depth          False
table          False
price          False
dtype: bool

In [258]:
data.to_csv(path_or_buf='cleaned.csv')

In [54]:
import statsmodels.formula.api as smf
import plotly.express as px
import plotly.graph_objects as go
import nbformat

data = ps.read_csv('cleaned.csv')
#model = smf.ols('price ~ carat + clarity + color + cut + x_dimension + y_dimension + z_dimension + depth + table', data=data).fit()
#model = smf.ols('price ~ carat + x_dimension + y_dimension + z_dimension', data=data).fit()
model = smf.ols('price ~ carat', data=data).fit()
data['fitted'] = model.fittedvalues

,Unnamed: 0,carat,clarity,color,cut,x_dimension,y_dimension,z_dimension,depth,table,price,fitted
0,22,1.400000,IF,D,GOOD,7.1,7.12000,4.413333,62.40,59,11000.0,10830.624621
1,31,1.500000,VVS2,F,GOOD,7.2,7.18000,4.436667,62.70,59,10800.0,11646.272420
2,164,1.350000,SI2,E,IDEAL,7.2,7.04500,4.460000,62.80,57,10700.0,10552.948559
3,170,1.250000,SI2,G,FAIR,6.9,6.91000,4.380000,62.30,58,10500.0,9563.770309
4,21,1.300000,SI1,G,PREMIUM,6.9,6.90625,4.300000,63.00,60,10500.0,9928.211596
...,...,...,...,...,...,...,...,...,...,...,...,...
151,26,0.350000,IF,G,IDEAL,4.5,4.52000,2.960000,61.90,56,1300.0,921.461739
152,72,0.450000,I1,I,FAIR,4.8,4.81000,2.980000,61.90,54,1100.0,1910.639988
153,23,0.333333,VVS2,E,GOOD,4.6,4.58000,2.850000,62.15,56,800.0,886.746535
154,2,0.316667,SI2,H,GOOD,4.3,4.31000,2.703333,62.30,56,700.0,504.970430
155,52,0.300000,I1,I,FAIR,4.4,4.41000,2.556667,62.10,55,600.0,470.255226